matrix:
  include:
    - language: cpp
      sudo: required
      services:
        - docker
      before_install:
        - docker pull cdonaghy/rocksplicator-build
      script:
        - docker run -v $(pwd):/rocksplicator -v $HOME/docker-root:/root cdonaghy/rocksplicator-build /bin/sh -c "cd /rocksplicator; mkdir -p build; cd build; cmake .. ; make -j ; env CTEST_OUTPUT_ON_FAILURE=1 make test"

    - language: java
      jdk:
        - oraclejdk8
      cache:
        directories:
          - $HOME/.m2
      script:
        - cd controller; mvn "-DfailIfNoTests=false" test
