<div class="task-contrainer" ng-show="vm.loadComplete">
    <md-content class="md-nav-bar-padding table-responsive-vertical md-whiteframe-z1" ng-show="vm.statusCode==200 && !vm.hideCluster">
        <md-nav-bar
                md-no-ink-bar="disableInkBar"
                md-selected-nav-item="vm.namespaceSelected"
                nav-bar-aria-label="navigation links">
            <md-nav-item ng-repeat="(namespace, clusterList) in vm.clusters" value="vm.namespaceSelected" md-nav-click="vm.showCluster(namespace)">
                {{namespace}}
            </md-nav-item>
        </md-nav-bar>
        <div class="cluster-config-content">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>View Tasks</th>
                    <th>View Config</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cluster in vm.clusters[vm.namespaceSelected] track by $index ">
                    <td>
                        <md-button class="toolbar-button">
                            <i class="material-icons" md-colors="{color: 'blue-grey-300'}">cloud</i>
                            <span class="notifications-label" md-colors="{background: 'blue-grey-700', color: 'blue-grey-50'}">{{$index + 1}}</span>
                        </md-button>
                    </td>
                    <td><span class="cluster-name">{{cluster}}</span>
                    </td>
                    <td>
                        <md-button class="toolbar-button" ng-click="vm.gotoTask(cluster)">
                            <i class="material-icons" md-colors="{color: 'orange-500'}">dehaze</i>
                        </md-button>
                    <td>
                        <md-button class="toolbar-button" ng-click="vm.gotoConfig(cluster)">
                            <i class="material-icons" md-colors="{color: 'teal-500'}">dashboard</i>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-content>

    <md-content layout-padding ng-show="vm.statusCode!=200">
        <md-list-item>
            <md-button class="toolbar-button">
                <i class="material-icons" md-colors="{color: 'blue-grey-500'}">error</i>
            </md-button>
            <span>HTTP Status Code: {{vm.statusCode}}</span>
        </md-list-item>
        <md-list-item>
            <md-button class="toolbar-button">
                <i class="material-icons" md-colors="{color: 'blue-grey-500'}">error</i>
            </md-button>
            <span>Error Message: {{vm.errorMessage.message}}</span>
        </md-list-item>
    </md-content>

    <div ui-view></div>

</div>

