<div ng-show="vm.loadComplete">
    <div class="table-responsive-vertical md-whiteframe-z1">
        <md-toolbar class="md-table-toolbar" md-colors="{background: 'red-300', color: 'blue-grey-50'}">
            <div class="md-toolbar-tools">
                <span>Cluster  Overview for {{vm.clusterSelected}}</span>
            </div>
        </md-toolbar>
        <table md-table class="table table-hover table-bordered" >
            <thead md-head>
            <tr md-row>
                <th md-column>ID</th>
                <th md-column><span>Data Segments</span></th>
                <th md-column><span>Number of Shards Across All Hosts</span></th>

            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="dataSegment" md-select-id="name" md-auto-select ng-repeat="dataSegment in vm.dataSegments track by $index">
                <td md-cell>{{$index+1}}</td>
                <td md-cell>{{dataSegment.name}}</td>
                <td md-cell>{{dataSegment.numShards}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive-vertical md-whiteframe-z1">
        <md-toolbar class="md-table-toolbar md-default" md-colors="{background: 'red-300', color: 'blue-grey-50'}">
            <div class="md-toolbar-tools">
                <span>Hosts Overview For {{vm.clusterSelected}}</span>
            </div>
        </md-toolbar>

        <md-tabs md-selected="selectedIndex" md-center-tabs=true md-dynamic-height=true>
            <md-tab md-on-select="onTabSelected(tab)" md-on-deselect="announceDeselected(tab)">
                <md-tab-label>
                    Hosts In ZK Config
                </md-tab-label>
                <md-tab-body>
                    <md-content layout="column" layout-padding>
                        <md-input-container class="search-bar">
                            <input aria-label="search" ng-model="hostquery">
                            <md-icon class="material-icons"
                                     md-colors="{color: 'blue-grey-200'}">
                                search
                            </md-icon>
                        </md-input-container>
                    </md-content>
                    <table md-table class="table table-hover table-bordered" >
                        <thead md-head>
                        <tr md-row>
                            <th md-column md-numeric>ID</th>
                            <th md-column ><span>Host IP</span></th>
                            <th md-column ><span>Host Port</span></th>
                            <th md-column ><span>Host Location</span></th>
                            <th md-column ><span>View Shards</span></th>
                            <th md-column ><span>Replace</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="host in vm.hostsInConfig | filter : hostquery track by $index">
                            <td md-cell>{{$index+1}}</td>
                            <td md-cell>{{host.ip}}</td>
                            <td md-cell>{{host.port}}</td>
                            <td md-cell>{{host.availabilityZone}}</td>
                            <td md-cell>
                                <md-input-container>
                                    <md-select ng-model="someModel" placeholder="Select a Data Segment">
                                        <md-option ng-value="seg" ng-repeat="seg in vm.dataSegments">{{ seg.name }}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-button class="toolbar-button">
                                    <i class="material-icons" md-colors="{color: 'blue-grey-500'}">remove_red_eye</i>
                                </md-button>
                            </td>
                            <td md-cell>
                                <md-button class="toolbar-button"
                                           ng-click="vm.selectOldHost(host, $index)">
                                    <i class="material-icons"
                                       md-colors="{'color': (vm.hostToReplace.index == $index ? 'red-300' : 'blue-grey-300')}">
                                        redo
                                    </i>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-tab-body>
            </md-tab>
            <md-tab md-on-select="onTabSelected(tab)" md-on-deselect="announceDeselected(tab)">
                <md-tab-label>
                    Blacklisted hosts
                </md-tab-label>
                <md-tab-body>
                    <md-content layout="column" layout-padding>
                        <md-input-container class="search-bar">
                            <input aria-label="search" ng-model="hostquery">
                            <md-icon class="material-icons"
                                     md-colors="{color: 'blue-grey-200'}">
                                search
                            </md-icon>
                        </md-input-container>
                    </md-content>
                    <table md-table class="table table-hover table-bordered" >
                        <thead md-head>
                        <tr md-row>
                            <th md-column md-numeric>ID</th>
                            <th md-column ><span>Host IP</span></th>
                            <th md-column ><span>Host Location</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="host in vm.blacklistedHosts | filter : hostquery track by $index">
                            <td md-cell>{{$index+1}}</td>
                            <td md-cell>{{host.ip}}</td>
                            <td md-cell>{{host.availabilityZone}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-tab-body>
            </md-tab>
            <md-tab md-on-select="onTabSelected(tab)" md-on-deselect="announceDeselected(tab)">
                <md-tab-label>
                    Healthy Standby Hosts
                </md-tab-label>
                <md-tab-body>
                    <md-content layout="column" layout-padding>
                        <md-input-container class="search-bar">
                            <input aria-label="search" ng-model="hostquery">
                            <md-icon class="material-icons"
                                     md-colors="{color: 'blue-grey-200'}">
                                search
                            </md-icon>
                        </md-input-container>
                    </md-content>
                    <table md-table class="table table-hover table-bordered" >
                        <thead md-head>
                        <tr md-row>
                            <th md-column md-numeric>ID</th>
                            <th md-column ><span>Host IP</span></th>
                            <th md-column ><span>Host Location</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="host in vm.healthyStandbyHosts | filter : hostquery track by $index">
                            <td md-cell>{{$index+1}}</td>
                            <td md-cell>{{host.ip}}</td>
                            <td md-cell>{{host.availabilityZone}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>

    <md-toolbar class="md-table-toolbar md-default"
                md-colors="{background: 'blue-grey-50'}"
                ng-show="vm.hostToReplace">
        <md-button class="toolbar-button">
            <i class="material-icons md-60" md-colors="{color: 'blue-grey-300'}">arrow_downward</i>
        </md-button>
    </md-toolbar>

    <div class="table-responsive-vertical md-whiteframe-z1" ng-show="vm.hostToReplace" id="selectHealthStandbyHosts">
        <md-toolbar class="md-table-toolbar md-default" md-colors="{background: 'red-300', color: 'blue-grey-50'}">
            <div class="md-toolbar-tools">
                <span>Replacing {{vm.hostToReplace.ip}} in {{vm.hostToReplace.availabilityZone}}. Please select one health
                      standby host, or fill in a customized host
                </span>
            </div>
        </md-toolbar>
        <table md-table class="table table-hover table-bordered" >
            <thead md-head>
            <tr md-row>
                <th md-column md-numeric>ID</th>
                <th md-column ><span>Host IP</span></th>
                <th md-column ><span>Host Port</span></th>
                <th md-column ><span>Host Location</span></th>
                <th md-column ><span>Select</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="host in vm.healthyStandbyHosts track by $index">
                <td md-cell>{{$index+1}}</td>
                <td md-cell>{{host.ip}}</td>
                <td md-cell>{{host.port}}</td>
                <td md-cell>{{host.availabilityZone}}</td>
                <td md-cell>
                    <md-button class="toolbar-button" ng-click="vm.selectHealthStandbyHost(host, $index)">
                        <i class="material-icons"
                           md-colors="{'color': (vm.newHealthyHost.index == $index ? 'red-300' : 'blue-grey-300')}">
                            done
                        </i>
                    </md-button>
                </td>
            </tr>
            <tr md-row>
                <td md-cell><md-icon class="material-icons" md-colors="{color: 'blue-grey-300'}">mode_edit</md-icon></td>
                <td md-cell>
                    <md-input-container>
                        <input aria-label="input" ng-model="newHealthyHost.ip">
                    </md-input-container>
                </td>
                <td md-cell>
                    <md-input-container>
                        <input aria-label="input" ng-model="newHealthyHost.port" ng-init="newHealthyHost.port='9090'">
                    </md-input-container>
                </td>
                <td md-cell>
                    <md-input-container>
                        <md-select ng-model="newHealthyHost.availabilityZone" placeholder="Select a zone">
                            <md-option value="us-east-1a">us-east-1a</md-option>
                            <md-option value="us-east-1c">us-east-1c</md-option>
                            <md-option value="us-east-1e">us-east-1e</md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td md-cell>
                    <md-button class="toolbar-button" ng-click="vm.selectHealthStandbyHost(newHealthyHost, vm.healthyStandbyHosts.length)">
                        <i class="material-icons"
                           md-colors="{'color': (vm.newHealthyHost.index == vm.healthyStandbyHosts.length ? 'red-300' : 'blue-grey-300')}">
                            done
                        </i>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <md-toolbar class="md-table-toolbar md-default"
                md-colors="{background: 'blue-grey-50'}"
                ng-show="vm.newHealthyHost">
        <md-button class="toolbar-button">
            <i class="material-icons md-60" md-colors="{color: 'blue-grey-300'}">arrow_downward</i>
        </md-button>
    </md-toolbar>

    <div class="table-responsive-vertical md-whiteframe-z1" ng-show="vm.newHealthyHost" id="confirmReplaceHost">
        <md-toolbar class="md-table-toolbar md-default" md-colors="{background: 'blue-grey-500'}">
            <div class="md-toolbar-tools">
                <span>
                    Please Confirm before proceeding.
                </span>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <md-list-item>
                <span>Replacing {{vm.hostToReplace.ip}}:{{vm.hostToReplace.port}} in {{vm.hostToReplace.availabilityZone}}
                      with {{vm.newHealthyHost.ip}}:{{vm.newHealthyHost.port}} in {{vm.newHealthyHost.availabilityZone}}.
                </span>
                <md-button md-colors="{background: 'blue-grey-500'}" ng-click="vm.replaceHost()">Confirm</md-button>
            </md-list-item>
        </md-content>

    </div>

    <md-content layout-padding ng-show="vm.statusCode!=-1">
        <md-list-item>
            <md-button class="toolbar-button">
                <i class="material-icons" md-colors="{color: 'blue-grey-500'}">error</i>
            </md-button>
            <span>HTTP Status Code: {{vm.statusCode}}</span>
        </md-list-item>
        <md-list-item>
            <md-button class="toolbar-button">
                <i class="material-icons" md-colors="{color: 'blue-grey-500'}">error</i>
            </md-button>
            <span ng-show="vm.statusCode!=200">Error Message: {{vm.errorMessage.message}}</span>
            <span ng-show="vm.statusCode==200">Replace Host task is sent to Controllerworker,
                Please go back to Task Page to view progress!
            </span>
        </md-list-item>
    </md-content>
</div>