<md-list>
    <md-list-item>
        <md-button>
            <i class="material-icons" md-colors="{color: 'red-300'}">delete_forever</i>
            Remove Host
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ng-click="vm.gotoReplaceHost()">
            <i class="material-icons" md-colors="{color: 'red-300'}">swap_horiz</i>
            Replace Host
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button>Add More Here (TODO)</md-button>
    </md-list-item>
</md-list>
